body {
    height: 65vh;
    background-color: #ffff0024;
}

.box {
    width: 500px;
    height: 200px;
    background-color: rgba(255, 255, 0, 0.479);
    box-shadow: 0 0 50px 10px rgba(255, 255, 0, 0.164);
    margin: 200px auto;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1 {
    background-color: green;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    transition-duration: 0.3s;
    color: #fff;
    outline: none;
    cursor: pointer;
}

#btn1:hover {
    background-color: rgb(0, 70, 0);
}

#btn2 {
    background-color: red;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    transition-duration: 0.3s;
    color: #fff;
    outline: none;
    cursor: pointer;
}

#text {
    margin: 0 25px;
    background-color: rgb(0, 167, 209);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}

#btn2:hover {
    background-color: rgb(127, 0, 0);
}